doctype html
html
    head
        meta(name = 'viewport', content = 'width=device-width, initial-scale=0.6')
        meta(name = 'apple-mobile-web-app-capable', content = 'yes')
        // reload the page every 30 mins
        meta(http-equiv="refresh" content="1800")
        link(rel = 'shortcut icon', href = 'favicon.ico')
        link(rel = 'apple-touch-icon-precomposed', sizes = '144x144', href = 'img/apple-touch-icon-144x144-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', sizes = '114x114', href = 'img/apple-touch-icon-114x114-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', sizes = '72x72', href = 'img/apple-touch-icon-72x72-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', href = 'img/apple-touch-icon-precomposed.png')
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css", rel="stylesheet")
        link(rel = 'stylesheet', href = 'schedule.scss')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js')
        script(src = 'https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.3.0/ical.min.js')
        script(src = 'main.ts')
        script(src = 'js/touch-events.js')
        title CGS Schedule
    body
        //include new-link
        include settings
        include calendar-event
        #schedule
            table.controls
                tbody
                    tr
                        td.controls.arrows
                            a
                                img(src = 'img/left48.png')
                        td#today.controls.links
                            a Today
                        td#this-week.controls.links
                            a This Week
                        td#settings.controls.links
                            a#settings-ad.tooltip.tooltip.is-tooltip-right.is-tooltip-active(data-tooltip="New!")
                                | Settings
                        td.controls.arrows
                            a
                                img(src = 'img/right48.png')
            hr.controls
            #loading.center
                p
                    | Downloading calendar...
                    br
                    | (this only happens once and may take up to 10 seconds)
            #schedarea(ontouchstart = 'touchStart(event, `schedarea`);', ontouchend = 'touchEnd(event);', ontouchmove = 'touchMove(event);', ontouchcancel = 'touchCancel(event);')
                table.sched.main
                    tbody#main-sched-body
                        tr
                            td.mainlabel
