@import "spacing";
@import "../node_modules/animate.css/animate.css";

.specialday {
    padding: 0;
}

.specialday > .sched {
    height: 100%;
    width: 100%;
}

.specialday > .sched tr:first-child td {
    border-top: 0;
}

.specialday > .sched tr td:first-child {
    border-left: 0;
}

.specialday > .sched tr td:last-child {
    border-right: 0;
}

.specialday > .sched tr:last-child td {
    border-bottom: 0;
}

html {
    height: 95%;
}

body {
    height: 100%;
    overflow: hidden;
    /* font-family: 'Times New Roman', serif; */
}

#schedule {
    height: 100%;
}

#schedarea {
    height: 100%;
    display: none;
}

table.sched {
    border-collapse: collapse;
    empty-cells: show;
    height: 90%;
    width: 100%;
}

td {
    -webkit-print-color-adjust: exact;
}

td.times {
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

.main > tbody > tr > .times {
    width: 7%;
}

td.period {
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

td.daylabel {
    border-style: none;
    height: 5%;
    width: 18%;
    text-align: center;

    &.day-highlight {
        background-color: var(--block-activity);
        border-radius: 15px 15px 0 0;
        filter: brightness(115%);
    }
}

td.specialday {
    width: 18%;
    text-align: center;
    vertical-align: top;
    padding: 0;
}

td.mainlabel {
    border-style: none;
    height: 5%;
    width: 10%;
    text-align: center;
}

td.mins90 {
    height: 18%;
}

td.mins85 {
    height: 17%;
}

td.mins80 {
    height: 16%;
}

td.mins75 {
    height: 15%;
}

td.mins70 {
    height: 14%;
}

td.mins65 {
    height: 13%;
}

td.mins60 {
    height: 12%;
}

td.mins55 {
    height: 11%;
}

td.mins50 {
    height: 10%;
}

td.mins45 {
    height: 9%;
}

td.mins40 {
    height: 8%;
}

td.mins35 {
    height: 7%;
}

td.mins30 {
    height: 6%;
}

td.mins25 {
    height: 5%;
    font-size: 90%;
}

td.mins25big {
    height: 5%;
}

td.mins20 {
    height: 4%;
    font-size: 90%;
}

td.mins15 {
    height: 3%;
    font-size: 80%;
}

td.mins10 {
    height: 2%;
    font-size: 75%;
}

td.mins5 {
    height: 1%;
    font-size: 75%;
}

table.controls {
    border-style: none;
    width: 100%;
    max-height: 5%;
    padding: 0px;
    margin: 0px;
}

hr.controls {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

td.controls {
    border-style: none;
    text-align: center;
    width: 20%;
    font-family: 'sans-serif';
    font-weight: bold;
    padding: 0px;
    margin: 0px;

    a {
        cursor: pointer;
    }
}

td.controls.arrows {
    width: 8%;
}

td.controls.links {
    width: 28%;
    a {
        text-decoration: underline;
    }
}

.coursename {
    font-size: 100%;
}

.subtitle {
    font-size: 75%;
}

#schedarea > .sched.week {
    font-size: 120%;
}

@media print {
    .controls {
        display: none;
    }
}

@media screen and (orientation: portrait) and (min-height: 1000px) {
    .main.sched.today {
        font-size: 200%;
        height: 96%;
    }

    td.controls {
        font-size: 175%;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    td.controls {
        font-size: 150%;
    }
}

@media screen and (orientation: portrait) and (max-height: 1000px) {
    .main.sched.today {
        font-size: 200%;
    }

  @media (max-aspect-ratio: 2/3) {
    td.controls {
      font-size: 150%;
    }
    }
}

@media screen and (orientation: landscape) and (min-height: 500px) {
    td.controls {
        font-size: 100%;
    }
}

.specialday > .sched {
    height: 100%;
    width: 100%;
}

.specialday > .sched tr:first-child td {
    border-top: 0;
}

.specialday > .sched tr td:first-child {
    border-left: 0;
}

.specialday > .sched tr td:last-child {
    border-right: 0;
}
.center {
    text-align: center;
}

.center {
    height: 100%;
    position: relative;
}

.center p {
    font-size: 30px;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

:root {
    --block-1: #ffce51;
    --block-2: #a67fb9;
    --block-3: #e67326;
    --block-4: #00abbd;
    --block-5: #aac02c;
    --block-6: #ef4957;
    --block-7: #ff75f2;
    --block-activity: #c0c0c0;
    --block-free: #ffffff;
    --text: #000000;
    --class-text: #000000;
    --link: #0000EE;
    --border: #000000;
    --divider: #eeeeee;
    --background-color: #ffffff;
}

$icons: (
        1: var(--block-1),
        2: var(--block-2),
        3: var(--block-3),
        4: var(--block-4),
        5: var(--block-5),
        6: var(--block-6),
        7: var(--block-7),
        activity: var(--block-activity),
        free: var(--block-free)
);

.sched.main {
    td,
    a,
    a:visited {
        color: var(--text);
    }
    td.classblock {
        color: var(--class-text);
    }
}

.controls {
    a,
    a:visited {
        color: var(--link) !important;
        text-decoration: underline !important;
    }
}

.sched.main td {
  border-color: var(--border);
}

#schedule hr {
    border-color: var(--divider);
}

body {
  background-color: var(--background-color);
}

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@each $name, $color in $icons {
    .blk-#{$name} {
        @include transition(all, 0.05s, ease);
        background-color: $color;

        &.has-link {
            cursor: pointer;

            &:hover {
                filter: brightness(90%);
                //background-color: mix($color, black, 90%);
            }

            &:active {
                filter: brightness(65%);
                //background-color: mix($color, black, 70%);
            }
        }
    }
}

#settings {
    @import '~bulma';
    @import '~bulma-tooltip';

    a:before {
        font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .tooltip::before {
        z-index: 30 !important;
        transform: translate(1rem, 50%) !important;
    }
    .tooltip::after {
        z-index: 30 !important;
        margin-left: 0 !important;
    }

    .hidden.tooltip::before,
    .hidden.tooltip::after {
        display: none !important;
    }
}

.bulma, body > div:not(#schedule) {
    @import '~bulma';
    @import '~bulma-switch';

    .notification {
        font-size: 1.05em;
    }

    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    button {
        padding: 1px;
    }

    .label {
        font-size: 1.1em;
    }

    .help {
        font-size: .9em;
    }

  .switch[type=checkbox] + label {
    padding-top: 0 !important;
    line-height: 1.72 !important;
  }
}

.context-menu-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.calendar-feed-subtitle {
    background-color: var(--background-color);
    color: var(--text);
    border-radius: 3px;
    padding: 2px 5px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
